@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 210 3% 14%;
    --card: 0 0% 100%;
    --card-foreground: 210 3% 14%;
    --popover: 0 0% 100%;
    --popover-foreground: 210 3% 14%;
    --primary: 283 62% 48%;
    --primary-foreground: 283 62% 95%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 210 3% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 210 3% 45.1%;
    --accent: 207 68% 53%;
    --accent-foreground: 207 68% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 283 62% 48%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --background: 210 3% 14%;
    --foreground: 0 0% 98%;
    --card: 210 3% 18%;
    --card-foreground: 0 0% 98%;
    --popover: 210 3% 12%;
    --popover-foreground: 0 0% 98%;
    --primary: 283 62% 48%;
    --primary-foreground: 283 62% 95%;
    --secondary: 0 0% 20%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 20%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 207 68% 53%;
    --accent-foreground: 207 68% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 25%;
    --input: 0 0% 25%;
    --ring: 207 68% 53%;
    --chart-1: 283 62% 48%;
    --chart-2: 207 68% 53%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 210 3% 10%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 283 62% 48%;
    --sidebar-primary-foreground: 283 62% 95%;
    --sidebar-accent: 210 3% 20%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 0 0% 25%;
    --sidebar-ring: 207 68% 53%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
